body,div,p,h1,h2,h3,ul,li,hr{
    margin: 0;
    padding:0;
}

body{
   margin: 0 70px 0 70px;
}
 
.title{
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}
     
.myRadio{
    margin-top: 10px;
}

/*.picPanel{
    width: 100%;
    height: 500px;
    margin-bottom: 40px;

}*/

.acode{
    width: 100%;
    margin-bottom: 50px;
    z-index: 0;
    background: transparent;
    margin-top: 7px;
}
   
span{
    cursor: pointer;
}

.setting{
    padding-bottom: 5px;
}

.active{
    border-bottom:4px solid #3498DB;
    color: #3498DB;
}

.chartArea {
    height: 35em;
    margin-top: 1em;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
}
.aChartArea{
    height: 35em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 5px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD; 
}
.codeArea {
    padding-top: 8px;
    height: 12em;
}

.footer {
    position: absolute;
    right:10px;
    bottom:10px;
    font-size:12px;
    font-style:italic;
    text-align:right;
}

.overallPanel1 {
    border-width: 1px;
    border-color: #BDBDBD;
    margin: 1.875em 0 3.75em 0;
}


.pic_link {
    text-decoration: none;
}


.pic_small {
    border: solid;
    border-width: 1px;
    border-color: #BDBDBD;
    width: 100%;
    height: auto;
}

.pic_small_container {
    text-align: center;
    padding: 0 1.18% 4.375em 1.18%;
    display: inline-block;
    vertical-align: top;
    width: 22%;
}
.picPanel {
    margin-top: 1.125em;
}
.demo_illus {
    text-decoration: none;
    font-family: 'Arial';
    font-weight: 200;
    font-style: normal;
    font-size: 0.875em;
    color: #3498DB;
    overflow: hidden;
    width: 12.5em;
    display: inline-block;
}

.overview_page_title {
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.1em;
    margin-left: -1.875em;
}

.overview_chart_title {
    text-decoration: none;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1em;
    
}

.vboxStyle {
    margin-right: 5em;
    margin-bottom: 1.5em;
}

.inputStyle {
    height: 1.5em !important;
    margin-bottom: 0.5em;
}

.inputStyle > input {
    height: 1.5em;
}

.selectStyle {
    height: 1.5em !important;
}

.selectStyle > span {
    height: 1.5em !important;
    width: 1.5em;
    line-height: 1.6em;
}

.radioStyle {
    margin-bottom: 0.75em;
}
.negativeMargin{
    margin-left: -80px;
}

div.sapMPanelHdr {
    font-family: "Arial";
    font-weight: 700;
    color: #666666;
}

div.sapMPanelContent {
    background-color: #EEEEEE;
}

li.sapMSelectListItem {
    font-family: "Arial";
    height: 1.5em;
    line-height: 1.5em;
}

label.sapMSltLabel {
    font-family: "Arial";
    line-height: 1.5em !important;
}

div.sapUiHLayoutChildWrapper {
    float: left;
}

.selectStyle1 {
    height: 1.8em !important;
 
}
.selectStyle1 > span {
    height: 1.8em !important;
    width: 1.5em ! important;
    line-height: 1.8em;
}
.dssetting{
    background: #f2f2f2;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.oRBStyle{
    padding-right: 15px
}
.chartAreaRE {
    height: 35em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 5px;
    margin-right: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #BDBDBD;
}

label, button, input {
    font-size: 14px !important;
}
@media screen and (device-width: 768px) {
     .pic_small_container {
        text-align: center;
        padding: 0 1.5% 4.375em 1.5%;
        display: inline-block;
        vertical-align: top;
        width: 30%;
     }
}
@media screen and (max-device-width: 767px) {
    .overview_chart_title {
        text-decoration: none;
        font-family: Arial,Helvetica,sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-left: 4%;
        font-size: 1.1em;
     }
     .pic_small_container {
        text-align: center;
        padding: 0 4% 4.375em 4%;
        display: inline-block;
        vertical-align: top;
        width: 40%;
     }
}
@media screen and (max-width: 610px ) and (min-width: 605px)   {
    .overview_chart_title {
        text-decoration: none;
        font-family: Arial,Helvetica,sans-serif;
        font-weight: 500;
        font-style: normal;
        margin-left: 4%;
        font-size: 1.1em;
     }
     .pic_small_container {
        text-align: center;
        padding: 0 4% 4.375em 4%;
        display: inline-block;
        vertical-align: top;
        width: 40%;
     }

 
